
body {
  background-color: #E8F9FD;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h3
{
  color: #68A7AD;

}

h1
{
  color: #68A7AD;

}
